.banner .swiper {
    width: 240px;
    height: 320px;
  }
  
.banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
 .banner.swiper-slide:nth-child(1n) {
    background-image: url('/src/assets/Homepage Book Covers/Book1Cover.png');
  }
  
.banner .swiper-slide:nth-child(2n) {
    background-image: url('/src/assets/Homepage Book Covers/Book2Cover.png');
}
  
.banner  .swiper-slide:nth-child(3n) {
    background-image: url('/src/assets/Homepage Book Covers/Book3Cover.png');
  }
  
.banner  .swiper-slide:nth-child(4n) {
    background-image: url('/src/assets/Homepage Book Covers/Book4Cover.png');
  }
  
.banner  .swiper-slide:nth-child(5n) {
    background-image: url('/src/assets/Homepage Book Covers/Book5Cover.png');
  }
  
 .banner .swiper-slide:nth-child(6n) {
    background-image: url('/src/assets/Homepage Book Covers/Book6Cover.png');
  }
  
 .banner .swiper-slide:nth-child(7n) {
    background-image: url('/src/assets/Homepage Book Covers/Book7Cover.png');
  }
/*   
 .banner .swiper-slide:nth-child(8n) {
    background-image: url('/src/assets/Homepage Book Covers/Book1Cover.png');
  }
  
 .banner .swiper-slide:nth-child(9n) {
    background-image: url('/src/assets/Homepage Book Covers/Book1Cover.png');
  }
  
 .banner .swiper-slide:nth-child(10n) {
    background-image: url('/src/assets/Homepage Book Covers/Book1Cover.png');
  } */
  